[mysqld]

pid-file=/var/run/mysqld/mysqld.pid
log-error=/var/log/mysqld.log
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

server-id = 2
innodb_file_per_table = 1
skip-name-resolve

wait-timeout = 60
max-connections = 500

skip-external-locking
key-buffer-size = 384M
max-allowed-packet = 16M
table-open-cache = 5000
sort-buffer-size = 64M
join-buffer-size = 64M
read-buffer-size = 2M
read-rnd-buffer-size = 8M
myisam-sort-buffer-size = 64M
thread-cache-size = 8
query-cache-limit = 64M
query-cache-size = 1024M
tmp-table-size = 1024M
max-heap-table-size = 1024M

slow-query-log = 1
log-output = TABLE
long-query-time = 2

log-bin = mysql-bin
expire-logs-days = 7
max-binlog-size = 16M
binlog-format = "MIXED"

# GTID replication config
log-slave-updates = On
gtid-mode = On
enforce-gtid-consistency = On

# Эта часть только для слэйва - исключаем репликацию таблиц
replicate-ignore-table=bet.events_on_demand
replicate-ignore-table=bet.v_same_event